<h2><%= @user.name %> products</h2>

<% if(@products.any?) %>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to(product.title, user_product_path(@user, product)) %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to("Add new product", new_user_product_path(@user)) %>