<!DOCTYPE html>
<html>
  <head>
    <title>ToDo list - Login</title>
    <meta charset="utf-8" />
  </head>
  <body>
    Login form
    <form method="POST" action="/login">
      <input type="text" name="username" placeholder="Username" />
      <button type="submit" name="load">Load tasks</button>
    </form>
  </body>
</html>