<!DOCTYPE html>
<html>
<head>
  <title>The time X hours ago</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/styles.css" />
</head>
<body id="hours_ago">
  <article class="content">
    <h1>
      <%=  @hours_ago %>
    </h1>
  </article>
</body>
</html>