<ul>
  <% @projects.each do |project| %>
    <li>
      <a href="/projects/<%= project.id %>/entries">
        <%= project.name %>
        <% if(project.description.present?) %>
          - <%= project.description %>
        <% end %>
      </a>
    </li>
  <% end %>
</ul>