<ul>
  <% @projects.each do |project| %>
    <li>
      <%= link_to(project.name, project_entries_path(project)) %>
        <% if(project.description.present?) %>
          - <%= project.description %>
        <% end %>
      </a>
    </li>
  <% end %>
</ul>