.box {
  margin: 10px;
  float: left;
}

.blue {
  border: 1px solid red;
  background: blue;
}

#red {
  border: 1px solid blue;
  background: red;
}

.green {
  background: green;
}

#top {
  position: absolute;
  top: 350px;
  left: 350px;
  z-index: 10;
  box-shadow: 5px 5px 19px 0 black;
}

#bottom {
  position: absolute;
  top: 400px;
  left: 500px;
}

.direction {
  padding: 20px;
}